:root {
  /** 主题颜色 */

  --vp-c-brand-1: #42b883;
  --vp-c-brand-2: #42d392;
  --vp-c-brand-3: #35eb9a;
  --vp-c-brand-soft: rgba(117, 232, 161, 0.314);
  --vp-nav-color:#fff;
  --vp-nav-bg:rgba(255, 255, 255, .8);
  /** 背景颜色 */

  /*
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;
  */

  /** 文本颜色 */

  /*
  --vp-c-text-1: rgba(60, 60, 67);
  --vp-c-text-2: rgba(60, 60, 67, 0.78);
  --vp-c-text-3: rgba(60, 60, 67, 0.56);
  */
}

/** 深色模式 */
[data-theme='dark'] {
  --vp-c-brand-1: #42b883;
  --vp-c-brand-2: #33a06f;
  --vp-c-brand-3: #155f3e;
  --vp-c-brand-soft: rgba(117, 232, 161, 0.314);
  --vp-nav-color:#141414;
  --vp-nav-bg:rgba(0, 0, 0, .2);
  /*
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
  */

  /*
  --vp-c-text-1: rgba(255, 255, 245, 0.86);
  --vp-c-text-2: rgba(235, 235, 245, 0.6);
  --vp-c-text-3: rgba(235, 235, 245, 0.38);
  */
}
